@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead my-3">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            0111 111 11 11
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Adres Bilgisi
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            Mail Bilgisi
        </p>

    </div>
</div>